.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width: 420px) {
  #lezioni {
    height: 1000px;
    margin-bottom: 350px;
    margin-left: 0;
  }
}

@media screen and (max-width: 420px) {
  .row {
    height: 1000px;
    top: 0;
    position: relative;
  }
}
@media screen and (max-width: 420px) {
  h1 {
    position: absolute;
    margin-top: 0;
    margin-left: 250px;
  }
}

@media screen and (max-width: 420px) {
  .right {
    position: absolute;
    top: 850px;
    left: 0;
    padding: 40px;
    margin-left: 250px;
  }
}

@media screen and (max-width: 420px) {
  .left {
    position: absolute;
    top: 20%;
    left: 0;
    padding: 30px;
    margin-left: 250px;
  }
}

@media screen and (max-width: 420px){
  #steps {
    height: 1400px;
    margin-left: 80px;
  }
}

@media screen and (max-width: 420px) {
  .central {
    position: absolute;
    top: 410px;
    left: 0;
    margin-top: 170px;
    margin-left: 270px;
  }
}

@media screen and (max-width: 420px) {
  .first {
   padding-top: 100px;
  }
}

@media screen and (max-width: 420px) {
  #why h3 {
    font-size: 10px;
  }
}

@media screen and (max-width: 420px) {
  #lezioni, #steps, #why {
    background-color: white;
  }
}
